/*
*   scss fyrir recipe.html
*/
@charset "UTF-8";


/* Setjum inn „reset“ sem fjarlægir margin og padding af öllu */
* {
  margin: 0;
  padding: 0;
}

/* Reiknum stærð á öllum boxum sem border-box */
html {
  box-sizing: border-box;
  /* Lætur skroll innan síðu taka tíma */
  scroll-behavior: smooth;
}

/* og látum erfast á allt */
*, *:before, *:after {
  box-sizing: inherit;
}

/* Breytur sem skal nota */
:root {
  /* Grunn bilið okkar er 1rem == 16px */
  --spacing: 1rem;
  /* Hámarksbreidd á efni */
  --max-width: 1600px;
  --grid-width: calc(100% - (2 * var(--offset)));
  --columns: 12;
  --gutter: 30px;
  --offset: 20px;
}

/* Body og main */
body {
  background-color: #FAFAFA;
}
main {
  /* Lætur allt skalast samhliða grid eins og það gerði í verkefni 5 */
  margin: 0 auto;
  max-width: var(--max-width);
  width: var(--grid-width);
  margin-bottom: 4rem;
}

/* Header */
header {
  margin-bottom: '';
}
.header-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  margin-top: 3vh;
  max-width: var(--max-width);
  width: var(--grid-width);
}
.header-content ul {
  display: flex;
  gap: 1rem;
  list-style: none;
}
.recipe-header-content h1 {
  font-size: 40px;
}

/* Footer */
.footer-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 1rem;
}
.newsletter-container {
  display: flex;
  justify-content: center;
  background-color: #000000;
  min-height: 10rem;
}
.newsletter {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
  /* Lætur allt skalast samhliða grid eins og það gerði í verkefni 5 */
  margin: 0 auto;
  max-width: var(--max-width);
  width: var(--grid-width);
}
.newsletter p {
  color: #E3CDB1;
}
.newsletter button {
  background-color: transparent;
  color: #E3CDB1;
  border-color: #E3CDB1;
  border-style: solid;
  border-width: 1px;
  padding-top: 1rem;
  padding-bottom: 1rem;
  padding-left: 4rem;
  padding-right: 4rem;
}
.newsletter label, .newsletter input {
  display: block;
  margin-bottom: 0.25rem;
  color: #FFFFFF;
}
.newsletter input {
  background-color: #000000;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: #E3CDB1;
  padding-bottom: 0.25rem;
}
.newsletter h2 {
  color: #FFFFFF;
}
.vertical-flex {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

/* Latest recipes */
.recipe-cards {
  display: grid;
  grid-template-columns: repeat(var(--columns), calc((100% - 11 * var(--gutter)) / var(--columns)));
  grid-auto-rows: auto auto;
  grid-auto-flow: dense;
  gap: var(--gutter);
  margin-bottom: 4rem;
}
.recipe-cards .card {
  display: flex;
  flex-direction: column;
  grid-column: span 4;
  background-color: #FFFFFF;
}
.recipe-cards .card img {
  width: 100%;
}
.card-text {
  margin: 1rem;
}
.readmore {
  display: flex;
  justify-content: space-between;
}
.readmore p {
  color: #E3CDB1;
}
@mixin button-style {
  background-color: transparent;
  color: var(--color-lightbrown);
  border-color: var(--color-lightbrown);
  border-style: solid;
  border-width: 1px;
  padding: {
    top: 1rem;
    bottom: 1rem;
    left: 4rem;
    right: 4rem;
  }
}
.seemore {
  display: flex;
  justify-content: center;
  align-items: center;

  button {
    @include button-style;
    margin: {
      left: 2rem;
      right: 2rem;
    }
  }
  hr {
    flex: 1;
    height: 1px;
    color: var(--color-lightbrown);
    border-style: solid;
  }
}


/* Recipe */
.recipe-header {
  background-image: url("../../myndir/Background-Header-Image-1.png");
  background-size: contain;
  position: relative;
  min-height: 90vh; 
}
.recipe-header-content {
  display: grid;
  grid-template-columns: auto;
  grid-column: span 3;
  margin-top: 269px;
  line-height: 1.5;
  width: 30%; 
}
.recipe-header-content h1 {
  font-size: 60px;
}
.recipe-instructions {
  display: flex;
  flex-direction: row;
  grid-column: 1/span 3;
  gap: 1rem;
}
.ingredients-and-methods h1 {
  font-size: 3rem;
  color: #D0D0D0;
}
.ingredients li {
  display: flex;
  justify-content: center;
}
/*setur h1 í sömu línu og ingredientið*/
.ingredients li h2 {
  display: inline;
  color: #E3CDB1;
  margin-right: 1rem;
}
/*bætir við bili á milli for the dough/for the filling og listanum*/
.ingredients ol { 
  margin-top: 1rem;
}
.ingredients li p {
  color: #9B9B9B;
}
/* setja grid á ingredients og methods */
.ingredients-and-methods {
  display: grid;
  margin: 0 auto;
  gap: var(--gutter);
  grid-template-columns: repeat(var(--columns), 1fr);
  grid-template-rows: auto;
}
.ingredients {
  text-align: center;
  grid-column: 1/span 7;
}
.grey {
  color: #9B9B9B;
}
.lightbrown {
  color: #E3CDB1;
}
.methods {
    grid-column: 11/span 18;
}
.methods p {
  margin: 2rem;
}
.cards {
  gap: calc(var(--spacing) * 3);
}
.cards a {
  color: var(--color-lightbrown);
  justify-content: flex-end;
}
.recipes .cards {
  display: flex;
}
.recipes h2 {
  margin-bottom: var(--spacing);
}
.recipes {
  z-index: 9999999;
  gap: var(--spacing);
  max-width: var(--max-width);
}
.card-efri-3 {
  display: flex;
  flex-direction: column;
  width: 683px;
}
.card-efri-3 > .image {
  order: -1;
  height: 200px;
}
.card-efri-3 > .image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 200px;
}
.card-efri-3 > .recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing);
}
.card-efri-3 > .recipe-content > p {
  flex: 1;
}
.card-nedri {
  display: flex;
  flex-direction: column;
  width: 683px;
}
.recipe-content > .image {
  order: -1;
  height: 200px;
}
.recipe-content > .image img {
  object-fit: cover;
  object-position: 50% 50%;
  width: 100%;
  height: 200px;
}
.card-nedri > .recipe-content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: var(--spacing);
}
.card-nedri > .recipe-content > p {
  flex: 1;
}
.content {
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.content-row {
  display: flex;
  justify-content: space-between;
}
@media all and (min-width:600px) and (max-width:768px) {

  .recipes .cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .card-efri-3 {
    grid-column: 2 / span 5;
    height: 400px;
  }
  .card-efri-3 > .recipe-content {  
    height: 600px;
  }
  .recipe-content > .image img {
    height: 300px;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .recipes .cards-2 {
    display: none;
  }
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .grid-3 > p {
    grid-column: 2 / span 5;
    font-size: 1.2rem;
  }
  .grid-3 > h2 {
    grid-column: 2 / span 7;
    font-size: 2.2rem;
  }
  .recipe-content p {
    font-size: 1.2rem;
  }
  .recipe-content h3 {
    font-size: 1.5rem;
  }
  .recipe-content a {
    font-size: 1.2rem;
  }
}
@media all and (max-width:600px) {
  .recipes .cards {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .card-efri-3 {
    grid-column: 4 / span 5;
    height: 400px;
  }
  .card-efri-3 > .recipe-content {  
    height: 600px;
  }
  .recipe-content > .image img {
    height: 300px;
  }
  .content {
    display: flex;
    flex-direction: column;
    padding: 10px;
  }
  .recipes .cards {
    display: none;
  }
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
  }
  .grid-3 > p {
    grid-column: 3 / span 5;
    font-size: 1.8rem;
  }
  .grid-3 > h2 {
    grid-column: 3 / span 7;
    font-size: 2.5rem;
  }
  .recipe-content p {
    font-size: 1.5rem;
  }
  .recipe-content h3 {
    font-size: 2rem;
  }
  .recipe-content a {
    font-size: 1.5rem;
  }
}




